<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no” />
    <meta name="theme-color" content="#ffffff">
    <title>My Immersion</title> 
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>
    <script src="https://unpkg.com/earcut@2.1.1/dist/earcut.min.js"></script><!-- for extruded polygons -->
    <script src="/immersion_engine/immersion_library.js"></script>
    <script src="/template/immersion.js"></script>
    <!-- full screen mode -->
    <style>
        html, body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
        }
    </style>
</head>
<body>
    <canvas id="renderCanvas"></canvas>
    <script>
        launchImmersion(null,null,null,null,null);
    </script>
</body>
</html>
